@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-login-pos: 100% -41rem;
  --bg-login-size: 60rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-anek: var(--font-anek-bangla);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-anek;
}
@layer components {
  .card {
    @apply relative z-0;
    &:before {
      @apply content-['']  -z-1 md:rounded-xl bg-[url(/images/bg-login.svg)] bg-no-repeat bg-(position:--bg-login-pos) bg-(length:--bg-login-size) size-full block absolute right-0 bottom-0;
    }
  }
}
